*
{
    --bg: #e5e5e5;
    --shadowLg: #fff;
    --shadow: rgba(13,39,80,.26);
}
body{
    min-height: 100vh;
	background: var(--bg);
    overflow: hidden;
	margin: auto;
}

#app {
    display: block;
    font-weight: 100;
    text-align: center;
    font-family: 'Bellota', cursive;
}

#app:nth-child(1){
    margin: auto;
    width: 600px;
    line-height: 250px;
    border-radius: 150px;
    font-size: 150px;
    box-shadow: -15px -15px 15px var(--shadowLg),
    15px 15px 15px var(--shadow),
    inset -15px -15px 15px var(--shadowLg),
    inset 15px 15px 15px var(--shadow);
    color: #444444;
    border: 5px solid transparent;
}
#app:nth-child(2)
{
    line-height: 70px;
    font-size: 26px;
    color: #5d5d5d;
}

#appt{
	display: block;
}

.btn1 {
	/* Color del texo */
	color: #0099CC;
	/* Eliminar color de fondo */
	background: transparent;
	/* Grosor del borde, estilo de línea y color */
	border: 2px solid #0099CC;
	/* Añadir esquinas curvadas */
	border-radius: 6px;
	/* Poner texto en mayúsculas */
	border: none;
		  color: transparent;
		  padding: 8px 16px;
		  text-align: center;
		  display: inline-block;
		  font-size: 10px;
		  margin: 2px 1px;
		  -webkit-transition-duration: 0.4s;
		  transition-duration: 0.4s;
		  cursor: pointer;
		  text-decoration: none;
		  text-transform: uppercase;
	}
  
  .btn1 {
	background-color: transparent; 
	color: #008CBA;
	border: 2px solid #008CBA;
  }
  
  .btn1:hover {
	border: 2px solid #363b40;
	background-color: #363b40;
	color: white;
  }

  table{
    width: 40%;
    padding: 30px;
    background: #24303c;
    background-color: #252c32;
    margin: auto;
    font-size: 13px;
    padding: 30px;
    border-radius: 4px;
    box-shadow: 7px 13px 37px #000;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  th{
    color: white;
    font-size: 22px;
    margin-bottom: 20px;
  }
  
  td{
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
  }
  
  thead{
    background-color: #363b40;
    border-bottom: solid 5px #151e21;
    color: white;
  }